{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
 {%block content%}

<hr>

<div class="container">
  <div class="row">
      <div class='card'>
         <div class="col-8">
            <img src="{{ user.profile.image.url }}" class="img-responsive rounded-circle account-img" alt="Profile-Image">
    </div>
    <div class="col-4">
        <h5 class="card-title">Welcome {{ user.username }} </h5>
        <p class="card-text">{{ user.email }} </p>
    </div>
  </div>
</div>   
<hr>
 {% endblock %}